@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #2d2d2dc3;
    margin: 60px;
}

header {
    margin-top: -30px;
    font-size: 19px;
    display: flex;
}

header span {
    color: #FF1919;
    font-weight: 700;
}

header h2 {
    color: #ff1919ba;
    font-weight: 500;
    max-width: 50%;
    width: 100%;
    justify-content: flex-start;
}

header button {
    color: #2d2d2dc3;
    width: 100px;
    height: 36px;
    font-weight: 700;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    border-radius: 100px;
    background: none;
    border: none;
    transition: background .3s;
}

header button:hover {
    cursor: pointer;
    width: 100px;
    height: 36px;
    border-radius: 50px;
    background: #FF1919;
    color: #fff;
}

header nav {
    padding-top: 5px;
    padding-left: 40px;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 151%;
}

.main-panel {
    display: flex;
    align-items: center;
}

.left-side {
    width: 50vw;
    margin-right: 100px;
}

.left-side h1 {
    color: #FF1919;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 20px;
    padding-left: 7px;
}

.left-side p {
    font-weight: 500;
}

.left-side button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 19px;
    width: 170px;
    height: 42px;
    border-radius: 50px;
    border: none;
    background: #FF1919;
    color: #fff;
    margin-left: 7px;
    transition: .3s;
}

.left-side button:hover {
    background: #ff1919dd;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}